.app-div{
  min-width: 100vw;
  min-height: 100vh;
  background: lightblue; 
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.content-container-div{
  display: flex;
  flex: 1;
  background: #181818;
  justify-content: center;
}
